<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">

		<header class="entry-header">
			<h3 class="entry-title">Portfolio</h3>				
		</header><!-- entry-header -->

		<nav id="filters">
		Search: <input ng-model="query">
			<ul opt-kind ok-key="filter">
				<li ok-sel="*">All</li>
				<li ng-repeat="tag in tagsArray" type='button' ok-sel="a[data-tags*='{{tag}}']">{{tag}}</li>
			</ul>
		</nav>					
		<article id="isotopeContainer" class="portfolio-holder" ng-cloak class="ng-cloak" isotope-container>
			<a ng-repeat="portfolio in portfolios | filter:query" isotope-item href="http://local.wordpress.dev/portfolio/#" data-tags="{{portfolio.tags | explode}}" id="{{portfolio.tags | explode}}" class="portfolio-item-wrapper {{portfolio.tags | explode}}">
				<figure class="portfolio-item">

					<img class="portfolio-img" ng-src="{{portfolio.picture}}">
					<figcaption class="portfolio-caption">
						<h4>{{portfolio.title}}</h4>
						<p>{{portfolio.description}}</p>
					</figcaption>
					<div class="slide-up-cover"></div>
				</figure>
			</a>
		</article> <!-- end of portfolio-holde -->
	</main>

</div><!-- end of primary -->